body {
    margin-top: 25px;
}

.btn {
    border-radius: 0;
}

.channel {
    border: 1px solid #ccc;
    padding: 15px;
}

.channel-text {
    padding-left: 10px;
}

.input-group-addon {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}